@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: vazirMedium;
    src: url("./font/fonts/webfonts/Vazirmatn-Medium.woff2");
  }

  @font-face {
    font-family: vazirBold;
    src: url("./font/fonts/webfonts/Vazirmatn-Bold.woff2");
  }

  @font-face {
    font-family: vazirExtraBold;
    src: url("./font/fonts/webfonts/Vazirmatn-ExtraBold.woff2");
  }

  @font-face {
    font-family: vazirRegular;
    src: url("./font/fonts/webfonts/Vazirmatn-Regular.woff2");
  }
}

@layer components {
  .centering {
    @apply flex justify-center items-center;
  }

  .bg-header {
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgb(229, 231, 235);
  }

  .quantity {
    @apply text-white bg-black size-5 text-sm text-center rounded-full absolute bottom-3 right-6 z-10;
  }

  .list-menu li {
    @apply centering mr-5 py-3 text-sm cursor-pointer hover:text-red-500 transition-all;
  }

  .icons-footer div {
    @apply cursor-pointer centering xs:border border-solid border-gray-300 p-4 rounded-md lg:border-none
  }

  .icons-footer div span {
    @apply mr-3
  }

  .social-icons svg {
    @apply size-5 ml-3 transition-all cursor-pointer;
  }

  .list-menu-mobile li {
    @apply w-10/12 py-4 centering justify-between hover:text-red-500 transition-all
  }
}
