@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: vazirMedium;
    src: url("./font/fonts/webfonts/Vazirmatn-Medium.woff2");
  }

  @font-face {
    font-family: vazirBold;
    src: url("./font/fonts/webfonts/Vazirmatn-Bold.woff2");
  }

  @font-face {
    font-family: vazirExtraBold;
    src: url("./font/fonts/webfonts/Vazirmatn-ExtraBold.woff2");
  }

  @font-face {
    font-family: vazirRegular;
    src: url("./font/fonts/webfonts/Vazirmatn-Regular.woff2");
  }
}

@layer components {
  .centering {
    @apply flex justify-center items-center;
  }

  .bg-header {
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgb(229, 231, 235);
  }

  .bg-header-dark {
    @apply bg-header;
    background: rgba(4, 4, 4, 0.72);
  }

  .quantity {
    @apply text-white duration-300 bg-black size-5 text-sm centering rounded-full absolute bottom-3 right-6 z-10;
  }

  .list-menu li {
    @apply centering mr-5 py-3 text-sm cursor-pointer hover:text-red-500 transition-all;
  }

  .button-header {
    @apply size-6 mr-4 cursor-pointer hover:scale-125 duration-300;
  }

  .icons-footer div {
    @apply cursor-pointer centering xs:border border-solid border-gray-300 p-4 rounded-md lg:border-none;
  }

  .icons-footer div span {
    @apply mr-3;
  }

  .social-icons svg {
    @apply size-5 ml-3 transition-all cursor-pointer;
  }

  .list-menu-mobile li {
    @apply w-10/12 py-4 centering justify-between hover:text-red-500 transition-all;
  }

  .buttons-slider-header {
    @apply hidden md:block text-white hover:scale-125 cursor-pointer duration-300 absolute top-[50%] z-50 text-xl md:text-4xl;
  }

  .banner-container {
    @apply text-white centering flex-col md:flex-row w-11/12 md:w-[99%] mx-auto mt-2;
  }

  .add-to-cart {
    @apply absolute bottom-0 w-full h-10 centering rounded-b-md text-white duration-400;
  }

  .details-cards {
    @apply centering items-end flex-col absolute top-3 left-3 duration-400;
  }

  .details-cards p {
    @apply hidden ml-1 bg-black text-white w-fit h-8 p-1 px-3 rounded-2xl text-sm transition-all;
  }

  .details-cards i {
    @apply bg-white rounded-full shadow-lg size-8 centering p-1 transition-all
  }

  .banner-bottom {
    @apply mb-2 md:mb-0 h-60 md:h-72 w-full md:w-[43%];
  }

  .box-banners-bottom div {
    @apply centering flex-col md:flex-row w-full mb-1.5;
  }

  .hed-cads-main {
    @apply mt-12 mx-auto md:mx-0 rounded-md md:rounded-r-none p-3 text-white w-5/6 sm:w-1/3 h-12 centering;
    background: rgb(220, 38, 3);
    background: linear-gradient(
      77deg,
      rgba(220, 38, 3, 1) 46%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .range-slide .range-slider__thumb {
    border: 6px solid #fff;
    box-sizing: border-box;
  }

  .range-slide .range-slider__thumb[data-upper] {
    background: #dc2626;
  }

  .range-slide .range-slider__thumb[data-lower] {
    background: #0073e6;
  }

  .range-slide .range-slider__range {
    background: linear-gradient(to right, #0073e6, #dc2626);
    background-size: 200% 100%;
    background-position: 50% 0;
  }

  .range-slide .range-slider__range[data-active],
  .range-slide .range-slider__thumb[data-active] ~ .range-slider__range {
    @apply animate-move-bg;
  }

  .filter-sections {
    @apply border border-solid border-gray-300 p-3 rounded-md mb-1;
  }

  .price-filter div {
    @apply shadow-lg p-2 min-w-20 text-center duration-700 rounded-md text-white;
  }

  .buttons-details div {
    @apply transition-all centering rounded-3xl p-3 px-6 mb-2 sm:ml-1 cursor-pointer sm:w-2/5 md:w-5/6;
  }

  .form-inputs div {
    @apply relative centering items-start mb-[30px] text-[#7395ae];
  }

  .form-inputs div div span {
    @apply text-red-500 absolute top-10 text-sm text-center;
  }

  .form-inputs div input {
    @apply bg-transparent border-b w-[96%] xs:w-64 border-[#7395ae] p-1 px-2 outline-none mr-2 z-[1] text-[#5d5c61];
  }

  .form-inputs div p {
    @apply duration-200 absolute left-0;
  }

  .dashboard div {
    @apply centering justify-start sm:mb-10 border border-black transition-all rounded-lg w-40 cursor-pointer p-2;
  }

  .dashboard svg {
    @apply size-5 ml-2
  }

  .account div {
    @apply mb-3 centering text-sm md:text-base
  }

  .account div p {
    @apply text-[#5d5c61] mr-1
  }

  .edit-profile {
    @apply cursor-pointer absolute size-9 bottom-2.5 right-2.5 bg-cyan-600 p-2.5 rounded-full;
  }

  .cart-buttons button {
    @apply absolute bottom-2 w-fit bg-green-600 hover:bg-green-700 transition-all p-2 cursor-pointer rounded-md text-white text-sm;
  }
}
